obj/
bin/
.vscode/
test/
testcase/*
test_output/*
debug.sy
debug.ll
graphviz/*
tmp.o

testcase/
test_output/

# Debug files
debug.S
debug1.S
debug1.sy
debug2.ll
debug2.S
debug2.sy
debug3.ll
debug3.S
debug3.sy
debug4.ll
debug4.sy
debug5.ll
debug5.S
debug5.sy
debug*

# Statistics files
target_time_stats.csv
llvm_time_stats.csv
spillsize.txt

compiler

lib/libloop_parallel.c
lib/libloop_parallel_x86.a