#pragma once
#include "IR/Function.hpp"
#include "IR/Module.hpp"
#include "IR/BasicBlock.hpp"
#include "IR/Instructions.hpp"
#include "common/defines.hpp"
#include "common/type.hpp"
#include <memory>
#include <vector>
{%- for header in headers %} 
#include "{{ header }}"
{%- endfor %}

namespace IR {
class IRBuilder {
public:
    IRBuilder(Context* ctx) : _cur_ctx(ctx)  {
        /* User Code Start: IRBuilder construct function */

        /* User Code End: IRBuilder construct function */
    }

    /* User Code Start: code space 1 */
    // TODO : 在此微操

    /* User Code End: code space 1 */

    {% for member in members %} {% if member.generate_get %}
    {{ member.type }} get{{ member.name }}() const {
        /* User Code Start: {{ classname }}::get_{{ member.name[1:] }} */
        return {{ member.name }};
        /* User Code End: {{ classname }}::get_{{ member.name[1:] }} */
    }
    {% endif %} {% endfor %}

    {% for member in members %} {% if member.generate_set %}
    void set{{ member.name }}( {{ member.type }} {{ member.name[5:] }} ) {
        /* User Code Start: set_{{ member.name[5:] }} */

        /* User Code End: set_{{ member.name[5:] }} */
    }
    {% endif %} {% endfor %}

    {% for Instr in Instructions %} 
    Instruction* create_{{ Instr.Instruction }}(
        /* User Code Start: create_{{ Instr.Instruction }} args */

        /* User Code End: create_{{ Instr.Instruction }} args */
    ){
        /* User Code Start: create_{{ Instr.Instruction }} */
        return nullptr;
        /* User Code End: create_{{ Instr.Instruction }} */
    }
    {% endfor %}
private:
    {%- for member in members %}
    {{ member.type }} {{ member.name }};
    {%- endfor %}


    /* User Code Start: 2 */

    /* User Code End: 2 */
};
}
