BasedOnStyle: Google
Language: Cpp
Standard: c++17
AlignAfterOpenBracket: Align
AlignEscapedNewlines: Left
AlignTrailingComments: true
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: true
BinPackArguments: false
BinPackParameters: false
BitFieldColonSpacing: Both
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeColon
AccessModifierOffset: -4
IndentWidth: 4
PointerAlignment: Right
DerivePointerAlignment: false
ColumnLimit: 120
PackConstructorInitializers: BinPack
SpaceAfterTemplateKeyword: true
