target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
**/src/test.bk/
**/src/test/resources/2023/*.ll
**/src/test/resources/2023/*.s
**/src/test/resources/2023part/*.ll
**/src/test/resources/2023part/*.s
**/src/test/resources/linked.ll
**/src/test/resources/libriscv.o
**/src/test/resources/2023/**
**/src/test/resources/2023part/**
**/src/test/resources/2023hidden/**
**/src/test/resources/**
**/target


pom.xml
/out
/.idea

/output/
!output/.gitkeep

/production

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.idea
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

/src/test/
/src/test/
/src/test/resources/2023/
/gen/
