compiler.dSYM
compiler
compiler.exe
.DS_Store
test/formal/performance
test/formal/basic/**/*.json
test/formal/basic/**/*.ir
test/formal/basic/**/*.ir_res
test/formal/basic/**/*.s
test/formal/basic/**/*.res
test/formal/basic/**/*.tk
test/formal/basic/**/*.log
test/formal/basic/**/*.time
test/formal/basic/**/*.exe
test/formal/basic/**/*.c
test/formal/basic/**/*.ll
test/formal/basic/**/*.o
test/custom/**/*.json
test/custom/**/*.ir
test/custom/**/*.ir_res
test/custom/**/*.s
test/custom/**/*.res
test/custom/**/*.tk
test/custom/**/*.log
test/custom/**/*.time
test/custom/**/*.exe
_backup/*
*.log
build
test/summary.log
temp.s
test/formal/*
scev_for_reference/scev_expr.cc
scev_for_reference/scev_expr.h
scev_for_reference/scev.cc
