cmake-build-*
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
build
.idea
.vscode
testdata
comp-test
gnalc_arm
gnalc
test.c
test.ll
test copy.ll
test.s
.gdb_history
test copy.s
functional25
gnalc_stripped
test.llc
test.elf
/qemu-9.2.0
list.txt
sylib.a
sylib.o
*.png
test copy.llc
sylib.s
.cache
test_bug.ll
test_no_bug.ll
perf.out
submit
runtime/artifacts/thread.ll
runtime/artifacts/thread.ll.cpp
runtime/artifacts/thread.ll.hpp
runtime/artifacts/thread.armv8.s
runtime/artifacts/thread.riscv64.s
runtime/artifacts/thread.armv8.s.cpp
runtime/artifacts/thread.armv8.s.hpp
runtime/artifacts/thread.riscv64.s.cpp
runtime/artifacts/thread.riscv64.s.hpp
build_release/
trash/
educg/submit
perf/
test/ASMperf_result/
test/ASMperf/target/
test/gnalc2
build_ggc/